             <!-- Sample Data -->
             <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6">{{index+1}}</td>
                <td class="py-3 px-6">{{data.name}}</td>
                <td class="py-3 px-6">{{data.accountNumber}}/td>
                <td class="py-3 px-6">{{data.description}}</td>
                <td class="py-3 px-6">
                    <button class="text-blue-500 hover:underline">View</button>
                </td>
                <td class="py-3 px-6">
                    <button class="text-green-500 hover:underline">Edit</button>
                </td>
                <td class="py-3 px-6">
                    <button class="text-red-500 hover:underline">Delete</button>
                </td>
            </tr>